* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.container {
    width: 85%;
    margin: 0 auto;
}
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo p {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
.input-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}
input[type="text"] {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.like,
.cart,
.account{
    font-size: 24px;
    cursor: pointer;
}
.like:active{
    color: #d84444;
}
.cart a :active{
    color: #d84444;
}
.cart a{
    color: #000;
}
.account a :active{
    color: #d84444;
}
.account a{
    color: #000;
}
.about-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
    background-color: white;
    align-items: center;
}        
.about-text {
    width: 50%;
}        
.about-text h1 {
    font-size: 32px;
}        
.about-text p {
    line-height: 1.6;
}
        .about-image{
            width: 470px;
            height: 450px;
        }
        .about-image img{
            width: 100%;
            height: 100%;object-fit: cover;
        }
        
        .stats {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 40px 100px;
            background-color: #f8f8f8;
        }
        
        .stat-item {
            text-align: center;
            width: 23%;
        }
        
        .stat-number {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .team {
            display: flex;
            justify-content: space-between;
            padding: 100px 0px;
            background-color: white;
        }
        
        .team-member {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        
        .tom-cruise{
            width: 200px;
            height: 200px;
        }
        .tom-cruise img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .emma{
            width: 200px;
            height: 200px;
        }
        .emma img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .will{
            width: 200px;
            height: 200px;
        }
        .will img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .features {
            display: flex;
            justify-content: space-between;
            padding: 40px 100px;
            background-color: #f8f8f8;
        }
        
        .feature {
            width: 30%;
            text-align: center;
            padding: 20px;
        }
        
        .feature h3 {
            margin: 15px 0;
        }